
.bg-white-custom {
    background-color: $primary-custom;
}

.bg-secondary-custom {
    background-color: $secondary-custom;
}

.logo {
  width: 20px;
  height: auto;
  transition: width 0.3s ease;
}

.logo-responsive {
  width: calc(10vw + 10px);
  max-width: 100px;
  min-width: 80px; 
  height: auto;
}

.btn-hero {
    background-color: $secondary-custom;
    border: none;
    color: $primary-custom;

    &:hover {
        background-color: $primary-layer;
        border: none;
        color: $secondary-custom;
    }
}

.preview-h {
  width: 794px;
  height: 1123px;
  min-height: 1123px;
  max-width: 100%;
  max-height: 90vh;
  background: white;
  border: 1px solid #e0e0e0;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  overflow-y: scroll;
  box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
}

.form-custom {
  border: 1px solid $primary-layer;
  padding: 1em;
  box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
  -moz-box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
  -webkit-box-shadow: 1px 4px 5px 1px rgba(119, 119, 119, 0.3);
}

@media (min-width: 590px) {
  .custom-h2 { width: 50% !important; }
}

@media (min-width: 768px) {
  .mb-sm-6 { margin-bottom: 4rem; }
  .mb-md-7 { margin-bottom: 5rem; }
  .w-md-10 { width: 10% !important; }
  .w-md-20 { width: 20% !important; }
  .w-md-30 { width: 30% !important; }
  .w-md-40 { width: 40% !important; }
  .w-md-50 { width: 50% !important; }
  .w-md-60 { width: 60% !important; }
  .w-md-70 { width: 70% !important; }
  .w-md-80 { width: 80% !important; }
  .w-md-90 { width: 90% !important; }

}

@media (min-width: 990px) {
  .w-lg-10 { width: 10% !important; }
  .w-lg-20 { width: 20% !important; }
  .w-lg-30 { width: 30% !important; }
  .w-lg-40 { width: 40% !important; }
  .w-lg-50 { width: 50% !important; }
  .w-lg-60 { width: 60% !important; }
  .w-lg-70 { width: 70% !important; }
  .w-lg-80 { width: 80% !important; }
  .w-lg-90 { width: 90% !important; }
  .lg-px-6 { padding-right: 4rem !important; padding-left: 4rem !important; }
  .lg-px-7 { padding-right: 5rem !important; padding-left: 5rem !important;  }
  .lg-px-8 { padding-right: 6rem !important; padding-left: 6rem !important;  }
  .lg-px-9 { padding-right: 7rem !important; padding-left: 7rem !important;  }
  .lg-px-10 { padding-right: 8rem !important; padding-left: 8rem !important;  }
}

@media (min-width: 1200px) {
  .mt-xl-0 { margin-top: 0 !important; }
  .w-xl-10 { width: 10% !important; }
  .w-xl-20 { width: 20% !important; }
  .w-xl-30 { width: 30% !important; }
  .w-xl-40 { width: 40% !important; }
  .w-xl-50 { width: 50% !important; }
  .w-xl-60 { width: 60% !important; }
  .w-xl-70 { width: 70% !important; }
  .w-xl-80 { width: 80% !important; }
  .w-xl-90 { width: 90% !important; }

}


.px-6 { padding-right: 4rem; padding-left: 4rem; }
.px-7 { padding-right: 5rem; padding-left: 5rem;  }
.px-8 { padding-right: 6rem; padding-left: 6rem;  }
.px-9 { padding-right: 7rem; padding-left: 7rem;  }
.px-10 { padding-right: 8rem; padding-left: 8rem;  }

.mx-6 { margin-right: 4em; margin-left: 4rem; }
.mx-7 { margin-right: 5rem; margin-left: 5rem; }
.mx-8 { margin-right: 6rem; margin-left: 6rem; }
.mx-9 { margin-right: 7rem; margin-left: 7rem; }
.mx-10 { margin-right: 8rem; margin-left: 8rem; }

.mb-6 { margin-bottom: 4rem; }
.mb-7 { margin-bottom: 5rem; }
.mb-8 { margin-bottom: 6rem; }
.mb-9 { margin-bottom: 7rem; }
.mb-10 { margin-bottom: 8rem; }

.mt-6 { margin-top: 4rem; }
.mt-7 { margin-top: 5rem; }
.mt-8 { margin-top: 6rem; }
.mt-9 { margin-top: 7rem; }
.mt-10 { margin-top: 8rem; }

.mr-1 { margin-right: 1rem !important; }
.mr-2 { margin-right: 2rem !important; }
.mr-3 { margin-right: 3rem !important; }
.mr-4 { margin-right: 4rem !important; }
.mr-5 { margin-right: 5rem !important; }
.mr-6 { margin-right: 6rem !important; }
.mr-7 { margin-right: 7rem !important; }
.mr-8 { margin-right: 7rem !important; }
.mr-9 { margin-right: 8rem !important; }
.mr-10 { margin-right: 9rem !important; }


.flex-grow-reset {
  flex-basis: 1 !important;
  flex-grow: 0 !important;
}

.gr-custom {
    background: linear-gradient(180deg, $primary-custom 0%, #EE82EE00 100%);
}

.h-10 {
  height: 10% !important;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 30% !important;
}

.h-40 {
  height: 40% !important;
}

.h-60 {
  height: 60% !important;
}

.h-70 {
  height: 70% !important;
}

.h-80 {
  height: 80% !important;
}

.h-90 {
  height: 90% !important;
}

.btn-del-content {
  border: none;
  background-color: $primary-layer;
  border-radius: 5px;
}

.scrollbar-hide {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
}