// Personnaliser les variables Bootstrap
$primary-custom: #FFFCF7;
$secondary-custom: #131313;
$primary-layer: #DEDEDE;

$grid-breakpoints: (
  xs: 0,
  sm: 545px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);