@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "custom";

h1 ,h2, h3, h4 {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

p, a, span, li, input, input::placeholder {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}